In [1]:
import pandas as pd

In [9]:
#Excel'i oku
dataFrame = pd.read_excel("PandasReadExcel.xlsx")

In [10]:
dataFrame

  Unnamed: 0   Maas   Yas   Departman
0      Yakup  10000  20.0     Yazılım
1      Yusuf   5000  30.0       Satış
2      Yunus   6000  25.0  Elektronik
3      Burak   8000  20.0      Finans
4      Ahmet   4000   NaN   Pazarlama
5     Mehmet   2500   NaN         NaN

In [11]:
doluDegerlerDataFrame = dataFrame.dropna()

In [12]:
doluDegerlerDataFrame

  Unnamed: 0   Maas   Yas   Departman
0      Yakup  10000  20.0     Yazılım
1      Yusuf   5000  30.0       Satış
2      Yunus   6000  25.0  Elektronik
3      Burak   8000  20.0      Finans

In [13]:
# Excel'e Yaz
doluDegerlerDataFrame.to_excel("PandasExcelSave.xlsx")